h1{
    font-size: 40px;
    text-align: center;
    margin: 20px;
    color: darkred;
}
img{
    height: 240px;
    width:170px;
    float: right;
}
.tb {
background-color: lightcyan;
width: 800px;
border: 3px solid gainsboro;
padding: 50px;
margin: 30px 30px 10px 30px;
}
table{
    font-size: 20px;
    padding:20px 40px 10px 10px;
}
button{
    text-align: center;
    margin: 40px;
    font-size: 20px;
    left: 50%;
}
@media print {
    button{
        display: none;
    }
}
